
.reply {
	display: flex;
	flex-direction: row;
}



.post {

	display: flex;
	flex-direction: column;
}

.highlighted {

	background-color: #EEDACB;
}

.post_details {

	padding: 10px;
	padding-bottom: 0px;

}

.post_body {
	display: flex;
	flex-direction: row;
	padding: 10px;
	min-width: 400px;
}

.post_message {
	padding: 20px;
	word-wrap: break-word;
	max-width: 1200px;
}
.doubledash {
	vertical-align: top;
}

.post_file {
	margin: 5px;
}

.file_description {
	 font-size: 10px;
 }
.title {
	color: red;
}

.username {
	color: green;
}

 .quote_text {
	 color: #789922;
 }

.fake_a {
	 color: #ff6600;
	 cursor: pointer;
 }
.video_thumb {
	 cursor: pointer;
	 border: 1px dashed black;
 }

 .news_block {
	 display: flex;
	 flex-direction: column;
	 margin-left: auto;
	 margin-right: auto;
	 max-width: 700px;
 }
.news {
	 background-color: #C0C0C0;
	 font-size: 20px;
	 margin: 10px;
	 border-radius: 5px;
}

.news_text {
	padding: 20px;
	word-wrap: break-word;
	max-width: 1000px;
}
 video {
	 max-width: 800px;
	 max-height: 800px;
 }
