
.post_form {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
}

.error_message {
	color: red;
	margin: 5px;
}

#submit_button {
	margin-top: 10px;
}

#upload_button {
	margin: 10px;
}
